body{
	text-align: center;
	background-color: #FFD700;
}

h1{
	color: #9932CC;
	font-size:60pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	color: #9932CC;
	font-size:18pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

h4{
	color: #000000;
	font-style: italic;
}

label{
	font-size: 10pt;
}

input{
	background-color: #f0ffff;
	width: 80%;
	margin: 10px 0;
	padding: 10px 20px;
	box-sizing: border-box;
	border: none;
}

input[type=submit]{
	margin-left: auto;
	width: 80%;
}

@media only screen and (min-width: 460px){
	body{
		background-color: #FFD700;
	}
	input{
		width: 75%;
	}
	input[type=submit]{
	width: 75%
	margin-left: auto;
	}
}
@media only screen and (min-width: 800px){
	body{
		background-color: #FFD700;
	}
	input{
		width: 75%;
	}
	input[type=submit]{
	width: 45%;
	margin-left: auto;
	}
}
	